.Content__Post {
    margin-top: 35px;
    grid-area: Content__Post;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    margin: 0px 35px 0px 35px;

}

.Button {
    text-decoration: none;
    color: rgba(0,0,0,0.81);
    text-transform: uppercase;
    font-weight: bold;
    color: #939ba3;

}
.Text{
min-height: 70px;
}